<Head><Title>Comment on the O-Plan Web demos</Title></Head>
<Body><H1>Comment on the O-Plan Web demos</H1>

Please feel free to comment on any aspect of the O-Plan demonstrations.

<Form 
 method=POST 
 action="form-mail.cgi">

<DL>

<DT> Enter your e-mail address:
<DD> <INPUT NAME="username" SIZE=40>

<DT> Enter your name:
<DD> <INPUT NAME="realname" SIZE=40>

<DT> Enter your comments below:
<DD> <EM>Note that your text will not automaticaly move to a new line
         when it reachs the edge of the box.  
     </EM> <BR>
     <TEXTAREA NAME="comments" ROWS=10 COLS=45></TEXTAREA>

<DD><Input TYPE="submit" VALUE="Send comments">
<DD><Input TYPE="reset" VALUE="Clear the form">

</DL>

</Form>

<HR>

If your Web Client does not support forms, then mail your comments to
&lt;oplan@ed.ac.uk&gt;.

<HR>

<Address>
<A HREF="http://www.aiai.ed.ac.uk/~oplan/">Jeff Dalton</A>
</Address>

</Body>
