<TITLE>Get to work</TITLE>
<H1>Get to work</H1>

<P>
Select a domain to see the task and schema definitions
for that domain.
<P>
Select a task to ask O-Plan to produce a plan
for that task.
<P>
Domains and tasks:

<UL>

<LI>
<A HREF="show-tf.cgi/get-to-work.tf">Get-to-work</A>

<UL>

<LI>
<A HREF="plan-for-demo-tf.cgi/get-to-work/task_get_to_work_via_expansion">
task_get_to_work_via_expansion
</A>

<LI>
<A HREF="plan-for-demo-tf.cgi/get-to-work/task_get_to_work_via_conditions">
task_get_to_work_via_conditions
</A>

</UL>

</UL>
