<TITLE>Resource demonstrations</TITLE>
<H1>Resource demonstrations</H1>

<P>
Select a domain to see the task and schema definitions
for that domain.
<P>
Select a task to ask O-Plan to produce a plan
for that task.
<P>
Domains and tasks:

<UL>
<LI>
<A HREF="show-tf.cgi/pacifica-3.tf">
Pacifica-3
</A>
<UL>
<LI>
<A HREF="plan-for-demo-tf.cgi/pacifica-3/task_operation_columbus">
task_operation_columbus
</A>
<LI>
<A HREF="plan-for-demo-tf.cgi/pacifica-3/task_operation_columbus_mixed_transports">
task_operation_columbus_mixed_transports
</A>
<LI>
<A HREF="plan-for-demo-tf.cgi/pacifica-3/task_operation_columbus_ground_transports_only">
task_operation_columbus_ground_transports_only
</A>
<LI>
<A HREF="plan-for-demo-tf.cgi/pacifica-3/task_operation_columbus_helicopters_only">
task_operation_columbus_helicopters_only
</A>
</UL>
</UL>
