<TITLE>Standard TF demonstrations</TITLE>
<H1>Standard TF demonstrations</H1>

<P>
Select a domain to see the task and schema definitions
for that domain.
<P>
Select a task to ask O-Plan to produce a plan
for that task.
<P>
Domains and tasks:

<UL>
<LI>
<A HREF="show-tf.cgi/blocks-1.tf">
Blocks-1
</A>
<UL>
<LI>
<A HREF="plan-for-demo-tf.cgi/blocks-1/task_stack_abc">
task_stack_abc
</A>
<LI>
<A HREF="plan-for-demo-tf.cgi/blocks-1/task_stack_cba">
task_stack_cba
</A>
<LI>
<A HREF="plan-for-demo-tf.cgi/blocks-1/task_stack_bac">
task_stack_bac
</A>
</UL>
<LI>
<A HREF="show-tf.cgi/blocks-2.tf">
Blocks-2
</A>
<UL>
<LI>
<A HREF="plan-for-demo-tf.cgi/blocks-2/task_stack_abc">
task_stack_abc
</A>
<LI>
<A HREF="plan-for-demo-tf.cgi/blocks-2/task_stack_cba">
task_stack_cba
</A>
<LI>
<A HREF="plan-for-demo-tf.cgi/blocks-2/task_stack_bac">
task_stack_bac
</A>
</UL>
<LI>
<A HREF="show-tf.cgi/house-1.tf">
House-1
</A>
<UL>
<LI>
<A HREF="plan-for-demo-tf.cgi/house-1/task_build_house">
task_build_house
</A>
</UL>
<LI>
<A HREF="show-tf.cgi/house-2.tf">
House-2
</A>
<UL>
<LI>
<A HREF="plan-for-demo-tf.cgi/house-2/task_build_house">
task_build_house
</A>
</UL>
<LI>
<A HREF="show-tf.cgi/house-3.tf">
House-3
</A>
<UL>
<LI>
<A HREF="plan-for-demo-tf.cgi/house-3/task_build_large_house">
task_build_large_house
</A>
</UL>
<LI>
<A HREF="show-tf.cgi/house-4.tf">
House-4
</A>
<UL>
<LI>
<A HREF="plan-for-demo-tf.cgi/house-4/task_build_house">
task_build_house
</A>
<LI>
<A HREF="plan-for-demo-tf.cgi/house-4/task_build_house_to_time_0">
task_build_house_to_time_0
</A>
<LI>
<A HREF="plan-for-demo-tf.cgi/house-4/task_build_house_to_time_1">
task_build_house_to_time_1
</A>
<LI>
<A HREF="plan-for-demo-tf.cgi/house-4/task_build_house_to_time_2">
task_build_house_to_time_2
</A>
</UL>
<LI>
<A HREF="show-tf.cgi/space-platform.tf">
Space-Platform
</A>
<UL>
<LI>
<A HREF="plan-for-demo-tf.cgi/space-platform/task_space_platform">
task_space_platform
</A>
<LI>
<A HREF="plan-for-demo-tf.cgi/space-platform/task_small_space_platform">
task_small_space_platform
</A>
<LI>
<A HREF="plan-for-demo-tf.cgi/space-platform/task_large_space_platform">
task_large_space_platform
</A>
</UL>
<LI>
<A HREF="show-tf.cgi/eusat.tf">
Eusat
</A>
<UL>
<LI>
<A HREF="plan-for-demo-tf.cgi/eusat/task_mission_objectives_1">
task_mission_objectives_1
</A>
<LI>
<A HREF="plan-for-demo-tf.cgi/eusat/task_mission_objectives_2">
task_mission_objectives_2
</A>
</UL>
<LI>
<A HREF="show-tf.cgi/pacifica.tf">
Pacifica
</A>
<UL>
<LI>
<A HREF="plan-for-demo-tf.cgi/pacifica/task_operation_blue_lagoon">
task_operation_blue_lagoon
</A>
<LI>
<A HREF="plan-for-demo-tf.cgi/pacifica/task_operation_paradise">
task_operation_paradise
</A>
</UL>
<LI>
<A HREF="show-tf.cgi/mission.tf">
Mission
</A>
<UL>
<LI>
<A HREF="plan-for-demo-tf.cgi/mission/task_mc_problem">
task_mc_problem
</A>
</UL>
<LI>
<A HREF="show-tf.cgi/three-pigs.tf">
Three-Pigs
</A>
<UL>
<LI>
<A HREF="plan-for-demo-tf.cgi/three-pigs/task_build_house">
task_build_house
</A>
<LI>
<A HREF="plan-for-demo-tf.cgi/three-pigs/task_build_secure_house">
task_build_secure_house
</A>
<LI>
<A HREF="plan-for-demo-tf.cgi/three-pigs/task_better_build_secure_house">
task_better_build_secure_house
</A>
<LI>
<A HREF="plan-for-demo-tf.cgi/three-pigs/task_build_cheap_house">
task_build_cheap_house
</A>
<LI>
<A HREF="plan-for-demo-tf.cgi/three-pigs/task_build_cheap_secure_house">
task_build_cheap_secure_house
</A>
</UL>
</UL>
